<mat-card-content class="a">
    <div>
        <h1 class="b">Artículos</h1>
        <form [formGroup]="articleForm">
            <div class="mb-7">
                <div>
                    <label for="code">Ingrese código del artículo:</label>
                </div>
                <div>
                    <input type="text" name="codigo" id="codigo" formControlName="codigo">
                </div>
            </div>
            <div class="mb-7">
                <div>
                    <label for="descrip">Ingrese descripción del artículo:</label>
                </div>
                <div>
                    <input type="text" name="descripcion" id="descripcion" formControlName="descripcion">
                </div>
            </div>
            <div class="mb-7">
                <div>
                    <label for="price">Ingrese precio del artículo:</label>
                </div>
                <div>
                    <input type="number" name="precio" id="precio" formControlName="precio">
                </div>
            </div>
            <div class="flex justify-around">
                <button class="y" (click)="cancelar()">Cancelar</button>
                <button class="z" [disabled]="articleForm.invalid" (click)="onSubmit()">Confirmar</button>
            </div>
        </form>
    </div>
</mat-card-content>